.list {
  display: flex;
  /* flex-direction: column; */
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  width: 320px;
  border: 1px solid #222222;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 8px;
  background-color: #f4dfc8;
  transition: all 250ms ease;
  &:hover {
    transform: scale(1.01);
  }
}
.link {
  text-decoration: none;
  color: #222222;
  &:hover {
    color: #d00000;
  }
}

.image {
  width: 100%;
  margin-bottom: 8px;
}
